{% extends "catalog/base_generic.html" %}

{% block content %}
    <div class="container" style="margin-top: 40px">
        <div style="margin-left: 35px">
        <form action="{% url 'search_book' %}" method="get">
            <div class="form-group row">
                <input type="submit" value="Search" class="btn btn-primary active col-sm-1" >
                <div class="col-sm-5">
                    <input type="text" name="q" class="form-control" style="background: none; font-family: 'Times New Roman'" placeholder="Search book by title i.e Time">
                </div>
            </div>
        </form><br><br>
        </div>
        {% if book_list %}
            <div class="card-group">
                {% for book in book_list %}
                    <div class="card col-md-4 ">
                        <div class="card-img-top">
                            <a href="{{book.get_absolute_url}}"><img class="card-img-top" src="{{ book.picture.url }}" alt="Card image cap" height="250px"></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" style="font-family: Superclarendon;">{{ book.title }}</h5>
                            <h6 class="card-title"><i>{{ book.author }}</i></h6>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
